body{
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* place-items: center; */
  height: 100vh;
}

:root{
  --bg-color: #f0ece5;
  --main-color: #155445;
  --hl-color: #28a587;
  
  --bar-width: 35px;
  --bar-height: 5px;
  --hamburger-gap:6px;
  --hamburguer-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --foreground: #155445;
}

@keyframes showRight {
  100%{
      width: 0;
  }
}

/* Fuentes Locales */

@font-face {
  font-family: 'Montserratout';
  src: url('../public/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

/* *{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

body{
  background-color: var(--main-color);
  margin: 0;
  text-align: center;
  font-family: "montserrat", sans-serif;
} */