body{
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* place-items: center; */
  height: 100vh;
}



/* Fuentes Locales */

@font-face {
  font-family: 'Montserratout';
  src: url('../public/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
